body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: #1E90FF !important;
}

/*home page*/
.meal-image {
  height: 180px;
  width: 150px;
  border-bottom: 2px black solid;
  border-radius: 50%;
}

.logo {
  width: 700px;
  align-self: center;
}

.container {
  align-self: center;
}

.left-column {
  height: 2000px;
}

/*restaurant dashboard*/
.rest-image {
  height: 200px;
}
