/*home page*/
nav.navbar {
  height: 80px;
}

img.logo {
  width: 400px;
  align-self: center;
}

/*jumbotron*/
div.jumbotron {
  margin-top: -15px;
  height: 500px;
  background-color: green;
}

div.row.jumbo-row {
  height: 500px;
  margin-top: -48px;
}

div.jumbotron-left {
  padding-left: 150px;
  padding-top: 50px;
  font-family: 'PT Sans', sans-serif;
}

/*main body of main page*/
.container {
  align-self: center;
}

.left-column {
  height: 2000px;
}

/*restaurant dashboard*/
.rest-image {
  height: 200px;
}
