body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  background-color: #1E90FF !important;
}

/*home page*/
img.logo {
  width: 400px;
  /*align-self: center;*/
}

.container {
  align-self: center;
}

.left-column {
  height: 2000px;
}

/*restaurant dashboard*/
.rest-image {
  height: 200px;
}
