<nav class="navbar navbar-inverse">
  <img src="./stylesheets/logo.png" class="logo col-xs-12 col-md-8" alt="Leftover Log Logo"/>

  <div class="dropdown">
    <button type="button" class="btn btn-default btn-md dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Shopping Cart
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <div>
          <h2>Shopping Cart</h2>

          <ul ng-repeat="meal in shoppingCart">
              <strong>{{meal.mealName}}</strong>, {{meal.price | currency}}
          </ul>
          <p><strong>Tax:</strong> {{totalTax | currency}}</p>
          <p><strong>Total Cost:</strong> {{totalCost | currency}}</p>
      </div>
    </ul>
  </div>


</nav>

<div class="jumbotron">
  <div class="row jumbo-row">
    <div class="jumbotron-left col-xs-6">
      <h1>let's save our food.</h1>
      <p>pounds saved this year: {{pounds}}</p>
      <div class="btn-box col-xs-6 col-md-4">
          <a href="#/register" class="btn btn-default navbar-btn">SIGN UP | LOG IN</a>
          <br>
          <a href="#/about" class="btn btn-default navbar-btn">About Us</a>
      </div>
    </div>

    <!-- <div class="right col-xs-6"> -->
      <iframe class="col-xs-6" height="500" src="https://www.youtube.com/embed/i8xwLWb0lLY" frameborder="0" allowfullscreen></iframe>
    <!-- </div> -->

  </div>

</div>

<div class="container">

    <div class="row">

        <!-- featured restaurants -->
        <div class="left-column col-xs-6 col-md-4 panel panel-default">

        </div>

        <!-- available meals list -->
        <div ng-repeat="meal in view.mealsArray" class="col-xs-12 col-md-8 panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <h2>{{meal.mealName}}</h2>
                        <h3>{{meal.price | currency}}</h3>
                        <h3><strong>{{meal.name}}</strong></h3>
                        <p>{{meal.details}}</p>
                    </div>
                    <div class="pull-left text-center"><strong>Pick-up:</strong> {{meal.pickup}} | <small>  {{meal.dietary}}</small></div>
                    <br>
                    <button ng-show="meal.user_id == null" ng-click="addItem(meal); updateMeal(meal)">Add To Cart</button>
                    <button ng-show="meal.user_id !== null" ng-disabled="true">Ordering...</button>
                </div>
            </div>
        </div>

    </div>

</div>
