<nav class="navbar navbar-inverse">
  <img src="./stylesheets/logo2-hamb.png" class="logo col-xs-12 col-md-8" alt="Leftover Log Logo"/>

  <div class="dropdown navbar-right">
    <button type="button" class="btn btn-default btn-md dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>  Shopping Cart [ {{shoppingCart.length}} ]
    </button>
    <a href="#/" ng-show="{{user.name}}" ng-click="logout()" class="btn btn-default btn-md" role="button">Log Out</a>

    <ul class="dropdown-menu dropdown-menu-right">
      <div class="cart">
        <h2>Shopping Cart</h2>

        <ul class="panel panel-default" ng-repeat="meal in shoppingCart">
            <strong>{{meal.mealName}}</strong>, {{meal.price | currency}} <small>   X</small>
        </ul>
        <p><strong>Tax:</strong> {{totalTax | currency}}</p>
        <p><strong>Total Cost:</strong> {{totalCost | currency}}</p>
        <button type="button" data-toggle="modal" data-target="#myModal">Checkout</button>
      </div>
    </ul>
  </div>
</nav>

<!-- stripe credit card modal -->
<stripe-directive></stripe-directive>

<div class="jumbotron">
  <div class="row jumbo-row">
    <div class="jumbotron-left col-xs-6">
      <h1>let's save our food,</h1>
      <h2 class="eachMeal">one leftover at a time.</h2>
      <div class="row">
          <p class="works">
            Delicious food from your local restaurants.<br>
            A text message lets you know when it's ready. <strong>Easy.</strong>
          </p>
      </div>
      <a href="#/register" class="btn btn-default login center-block btn-lg">SIGN UP | LOG IN</a>
      <h2 class="pounds"><strong>Pounds of food saved this year: {{pounds | number}}</strong></h2>
    </div>

    <iframe class="col-xs-6" height="560" src="https://www.youtube.com/embed/i8xwLWb0lLY" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="container">

    <div class="row main">

        <!-- featured restaurants -->
        <div class="left-column col-xs-6 col-md-4 panel panel-default">
          <br>
          <input type="text" class="searchBox" ng-model="view.search" placeholder="Search">

          <label class="sortBox" for="sort"> Sort By:</label>
          <select class="sortList" name="singleSelect" ng-model="sort">
            <option value="-votes">Restaurant</option>
            <option value="date">Price</option>
          </select>
          <hr>

          <div class="panel facts">
            <h3>More than</h3><h2><strong>$160 billion</strong></h2><h3>is wasted each year.</h3>
            <h2>That's <strong>40%</strong> of all food produced!</h2>
            <h3>Or, 20 pounds per person per month!</h3>
          </div>

          <h3>Featured Restaurants:</h3>
          <div ng-repeat="rest in view.restArray" class="col-md-12 panel panel-default">
            <div class="panel-body">
                <div class="media center-block">
                    <div class="media-body restaurant">
                        <img ng-class="image" class="main-image" ng-src="{{rest.image}}">
                        <h4><strong>{{rest.name}}</strong></h4>
                        <div class="pull-right">
                        </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>

        <!-- available meals list -->
        <div ng-repeat="meal in view.mealsArray | filter: view.search" class="col-xs-12 col-md-4 panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <h3><strong>{{meal.mealName}}</strong></h3>
                        <h4>{{meal.price | currency}}</h4>
                        <h4><strong>{{meal.name}}</strong></h4>
                        <p>{{meal.details}}</p>
                    </div>
                    <div class="pull-left text-center"><strong>Pick-up:</strong> {{meal.pickup}}<br>
                      {{meal.dietary}}</div>
                    <br>
                    <div class="panel-footer">
                      <button class="toOrder btn btn-default" ng-show="meal.user_id == null" ng-click="addItem(meal); updateMeal(meal)">Add To Cart</button>
                      <button ng-show="meal.user_id !== null" ng-disabled="true">Ordering...</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
