<h1>Register Page</h1>



<div class="container-fluid">
  {{message}}
  <button type="button" name="button" class="btn btn-default center-block" ng-click="showRestaurant = !showRestaurant; clearForm()">If you're a restaurant</button>

  <br>

  <form name="logIn" ng-submit="submitLogIn(returningUser)" ng-show="showRestaurant">
    <div class="form-group" ng-class="{'has-error' : logIn.username.$invalid && !logIn.username.$pristine,'has-success' : logIn.username.$valid }">
        <label class="control-label" for="username">Username:</label>
        <input type="text" name="username" class="form-control" ng-model="returningUser.username" ng-minlength="2" ng-maxlength="30" ng-required="true" placeholder="Username">
        <small ng-show="logIn.username.$error.minlength" class="help-block">Username is too short.</small>
        <small ng-show="logIn.username.$error.maxlength" class="help-block">Username is too long.</small>
    </div>
    <div class="form-group" ng-class="{'has-error' : logIn.password.$invalid && !logIn.password.$pristine,'has-success' : logIn.password.$valid }">
        <label class="control-label" for="password">Password:</label>
        <input type="password" name="password" class="form-control" ng-model="returningUser.password" ng-minlength="2" ng-maxlength="100" ng-required="true" placeholder="Password">
        <small ng-show="logIn.password.$error.minlength" class="help-block">Password is too short.</small>
        <small ng-show="logIn.password.$error.maxlength" class="help-block">Password is too long.</small>
    </div>
    <button type="submit" class="btn btn-default center-block" ng-disabled="logIn.$invalid">Submit</button>
</form>

<br>

<form id="signUp" name="signUp" ng-submit="submitSignUp(newUser,signUp)" ng-show="showRestaurant">
    <div class="form-group" ng-class="{'has-error' : signUp.name.$invalid && !signUp.name.$pristine,'has-success' : signUp.name.$valid }">
        <label class="control-label" for="name">Restaurant Name:</label>
        <input type="text" name="name" class="form-control" ng-model="newUser.name" ng-minlength="2" ng-maxlength="40" ng-required="true" placeholder="Name">
        <small ng-show="signUp.name.$error.minlength" class="help-block">Name is too short.</small>
        <small ng-show="signUp.name.$error.maxlength" class="help-block">Name is too long.</small>
    </div>
    <div class="form-group" ng-class="{'has-error' : signUp.username.$invalid && !signUp.username.$pristine,'has-success' : signUp.username.$valid }">
        <label class="control-label" for="name">Username:</label>
        <input type="text" name="username" class="form-control" ng-model="newUser.username" ng-minlength="2" ng-maxlength="30" ng-required="true" placeholder="Username">
        <small ng-show="signUp.username.$error.minlength" class="help-block">Username is too short.</small>
        <small ng-show="signUp.username.$error.maxlength" class="help-block">Username is too long.</small>
    </div>
    <div class="form-group" ng-class="{'has-error': signUp.image.$invalid && !signUp.image.$pristine, 'has-success': signUp.image.$valid}">
        <label class="control-label" for="image">Image URL</label>
        <input class="form-control" type="text" name="image" ng-model="newUser.image" ng-required="true">
    </div>
    <div class="form-group" ng-class="{'has-error' : signUp.email.$invalid && !signUp.email.$pristine,'has-success' : signUp.email.$valid }">
        <label class="control-label" for="email">Email:</label>
        <input type="text" name="email" class="form-control" ng-model="newUser.email" ng-minlength="2" ng-maxlength="50" ng-required="true" placeholder="Email">
        <small ng-show="signUp.email.$error.minlength" class="help-block">Email is too short.</small>
        <small ng-show="signUp.email.$error.maxlength" class="help-block">Email is too long.</small>
    </div>
    <div class="form-group" ng-class="{'has-error' : signUp.password.$invalid && !signUp.password.$pristine,'has-success' : signUp.password.$valid }">
        <label class="control-label" for="password">Password:</label>
        <input type="password" name="password" class="form-control" ng-model="newUser.password" ng-minlength="2" ng-maxlength="50" ng-required="true" placeholder="Password">
        <small ng-show="signUp.password.$error.minlength" class="help-block">Password is too short.</small>
        <small ng-show="signUp.password.$error.maxlength" class="help-block">Password is too long.</small>
    </div>
    <div class="form-group" ng-class="{'has-error' : signUp.address.$invalid && !signUp.address.$pristine,'has-success' : signUp.address.$valid }">
        <label class="control-label" for="address">Street Address:</label>
        <input type="text" name="address" class="form-control" ng-model="newUser.address" ng-minlength="2" ng-maxlength="50" ng-required="true" placeholder="Street Address">
        <small ng-show="signUp.address.$error.minlength" class="help-block">Address is too short.</small>
        <small ng-show="signUp.address.$error.maxlength" class="help-block">Address is too long.</small>
    </div>
    <div class="form-group" ng-class="{'has-error' : signUp.city.$invalid && !signUp.city.$pristine,'has-success' : signUp.city.$valid }">
        <label class="control-label" for="city">City:</label>
        <input type="text" name="city" class="form-control" ng-model="newUser.city" ng-minlength="2" ng-maxlength="50" ng-required="true" placeholder="City">
        <small ng-show="signUp.city.$error.minlength" class="help-block">City is too short.</small>
        <small ng-show="signUp.city.$error.maxlength" class="help-block">City is too long.</small>
    </div>
    <div class="form-group" ng-class="{'has-error' : signUp.state.$invalid && !signUp.state.$pristine,'has-success' : signUp.state.$valid }">
        <label class="control-label" for="state">State:</label>
        <input type="text" name="state" class="form-control" ng-model="newUser.state" ng-minlength="2" ng-maxlength="2" ng-required="true" placeholder="##">
        <small ng-show="signUp.state.$error.minlength" class="help-block">State is too short.</small>
        <small ng-show="signUp.state.$error.maxlength" class="help-block">State is too long.</small>
    </div>
    <div class="form-group" ng-class="{'has-error' : signUp.zip.$invalid && !signUp.zip.$pristine,'has-success' : signUp.zip.$valid }">
        <label class="control-label" for="zip">Zip Code:</label>
        <input type="text" name="zip" class="form-control" ng-model="newUser.zip" ng-minlength="2" ng-maxlength="5" ng-required="true" placeholder="#####">
        <small ng-show="signUp.zip.$error.minlength" class="help-block">Zip is too short.</small>
        <small ng-show="signUp.zip.$error.maxlength" class="help-block">Zip is too long.</small>
    </div>
    <button type="submit" class="btn btn-default center-block" ng-disabled="signUp.$invalid">Submit</button>
</form>

<br>

<button type="button" name="button" class="btn btn-default center-block" ng-click="showEater = !showEater">If you're hungry</button>


</div>
