<nav class="navbar navbar-inverse">
    <img src="./stylesheets/logo2-hamb.png" class="logo col-xs-12 col-md-8" alt="Leftover Log Logo" />
    <div class="dropdown navbar-right">
      <a href="#/" ng-click="logout()" class="btn btn-default btn-md btn-log" role="button">Log Out</a>
    </div>
</nav>

<div class="row container dashboard-row">
    <div class="col-md-4">
        <img ng-class="image" class="rest-image" ng-src="{{restaurant.image}}">
    </div>

    <div class="col-md-6">
        <h2>Welcome, {{restaurant.name}}!</h2>
        <hr>
        <address>
                {{restaurant.address}}
                {{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}<br>
              <abbr title="Phone">P:</abbr> {{restaurant.phone}}
            </address>
        <button type="button" name="button" class="btn btn-default" ng-click="showAddMeal = !showAddMeal; clearForm()">Add New Meal</button> <button type="button" name="button" ng-click="addPounds(restaurant)">{{text}}</button>

        <hr>
        <h3 class="saved">Total number of pounds of food saved: {{pounds | number}}</h3>
    </div>

    <div class="col-md-2 features">
      <h4><span class="glyphicon glyphicon-shopping-cart"></span> Sales History</h4>
      <br>
      <h4><span class="glyphicon glyphicon-ok"></span> Meal History</h4>
      <br>
      <h4><span class="glyphicon glyphicon-cog"></span> Settings</h4>
      <br>
      <h4><span class="glyphicon glyphicon-question-sign"></span> Help</h4>
    </div>
</div>

<div class="container">


    <div class="row">
      <br>
        <!-- form for adding a new meal -->
        <form name="addedMeal" ng-submit="addMeal(meal)" ng-show="showAddMeal">
            <div class="form-group" ng-class="{'has-error' : addedMeal.name.$invalid && !addedMeal.name.$pristine,'has-success' : addedMeal.name.$valid }">
                <label class="control-label" for="name">Name:</label>
                <input type="text" name="name" class="form-control" ng-model="meal.name" ng-minlength="2" ng-maxlength="25" ng-required="true" placeholder="Name">
                <small ng-show="addedMeal.name.$error.minlength" class="help-block">Name is too short.</small>
                <small ng-show="addedMeal.name.$error.maxlength" class="help-block">Name is too long.</small>
            </div>
            <div class="form-group" ng-class="{'has-error' : addedMeal.details.$invalid && !addedMeal.details.$pristine,'has-success' : addedMeal.details.$valid }">
                <label class="control-label" for="details">Details:</label>
                <input type="text" name="details" class="form-control" ng-model="meal.details" ng-minlength="2" ng-maxlength="100" ng-required="true" placeholder="Details">
                <small ng-show="addedMeal.details.$error.minlength" class="help-block">Too short.</small>
                <small ng-show="addedMeal.details.$error.maxlength" class="help-block">Too long.</small>
            </div>
            <div class="form-group" ng-class="{'has-error' : addedMeal.dietary.$invalid && !addedMeal.dietary.$pristine,'has-success' : addedMeal.dietary.$valid }">
                <label class="control-label" for="dietary">Dietary Notes:</label>
                <input type="text" name="dietary" class="form-control" ng-model="meal.dietary" ng-minlength="2" ng-maxlength="30" ng-required="true" placeholder="Dietary notes">
                <small ng-show="addedMeal.dietary.$error.minlength" class="help-block">Too short.</small>
                <small ng-show="addedMeal.dietary.$error.maxlength" class="help-block">Too long.</small>
            </div>
            <div class="form-group" ng-class="{'has-error' : addedMeal.pickup.$invalid && !addedMeal.pickup.$pristine,'has-success' : addedMeal.pickup.$valid }">
                <label class="control-label" for="pickup">Pickup Details:</label>
                <input type="text" name="pickup" class="form-control" ng-model="meal.pickup" ng-minlength="2" ng-maxlength="100" ng-required="true" placeholder="Pickup Notes">
                <small ng-show="addedMeal.pickup.$error.minlength" class="help-block">Too short.</small>
                <small ng-show="addedMeal.pickup.$error.maxlength" class="help-block">Too long.</small>
            </div>
            <div class="form-group" ng-class="{'has-error' : addedMeal.price.$invalid && !addedMeal.price.$pristine,'has-success' : addedMeal.price.$valid }">
                <label class="control-label" for="price">Price:</label>
                <input type="text" name="price" class="form-control" ng-model="meal.price" ng-minlength="4" ng-maxlength="5" ng-required="true" placeholder="##.##">
                <small ng-show="addedMeal.price.$error.minlength" class="help-block">Too short.</small>
                <small ng-show="addedMeal.price.$error.maxlength" class="help-block">Too long.</small>
            </div>
            <button type="submit" class="btn btn-default center-block" ng-click="showAddMeal=false" ng-disabled="addedMeal.$invalid">Add Meal</button>
        </form>

        <!-- meals creation on restaurant page for just the one specific restaurant -->
        <br>
        <div ng-repeat="meal in view.mealsArray" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset panel panel-default meals">
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Status</th>
                        <th>Meal</th>
                        <th>Price</th>
                        <th>Pickup</th>
                        <th>Dietary</th>
                        <th>Details</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <button ng-show="meal.user_id !== null" ng-click="markReady(restaurant, meal)">Ordered. Mark as Ready</button>
                        </td>
                        <td>{{meal.mealName}}</td>
                        <td>{{meal.price | currency}}</td>
                        <td>{{meal.pickup}}</td>
                        <td>{{meal.dietary}}</td>
                        <td>{{meal.details}}</td>
                        <td>
                            <ul ng-click="showEditForm = !showEditForm"><u>Edit</u></ul>
                        </td>
                        <td>
                            <ul ng-click="deleteMeal(meal)"><u>Delete</u></ul>
                        </td>
                    </tr>
                </table>

                <!-- edit meal from -->
                <form name="editMeal" ng-submit="submitEditMeal(meal)" ng-show="showEditForm">
                    <input type="text" name="name" value="{{meal.id}}" hidden>
                    <div class="form-group" ng-class="{'has-error' : editMeal.name.$invalid && !editMeal.name.$pristine,'has-success' : editMeal.name.$valid }">
                        <label class="control-label" for="name">Name:</label>
                        <input name="name" class="form-control" value="{{meal.mealName}}" ng-model="meal.mealName" ng-minlength="2" ng-maxlength="50" ng-required="true">
                        <small ng-show="editMeal.name.$error.minlength" class="help-block">Name is too short.</small>
                        <small ng-show="editMeal.name.$error.maxlength" class="help-block">Name is too long.</small>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : editMeal.details.$invalid && !editMeal.details.$pristine,'has-success' : editMeal.details.$valid }">
                        <label class="control-label" for="details">Details:</label>
                        <input name="details" class="form-control" value="{{meal.details}}" ng-model="meal.details" ng-minlength="2" ng-maxlength="100" ng-required="true">
                        <small ng-show="editMeal.details.$error.minlength" class="help-block">Too short.</small>
                        <small ng-show="editMeal.details.$error.maxlength" class="help-block">Too long.</small>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : editMeal.dietary.$invalid && !editMeal.dietary.$pristine,'has-success' : editMeal.dietary.$valid }">
                        <label class="control-label" for="dietary">Dietary Notes:</label>
                        <input name="dietary" class="form-control" value="{{meal.dietary}}" ng-model="meal.dietary" ng-minlength="2" ng-maxlength="50" ng-required="true">
                        <small ng-show="editMeal.dietary.$error.minlength" class="help-block">Too short.</small>
                        <small ng-show="editMeal.dietary.$error.maxlength" class="help-block">Too long.</small>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : editMeal.pickup.$invalid && !editMeal.pickup.$pristine,'has-success' : editMeal.pickup.$valid }">
                        <label class="control-label" for="pickup">Pickup Details:</label>
                        <input name="pickup" class="form-control" value="{{meal.pickup}}" ng-model="meal.pickup" ng-minlength="2" ng-maxlength="25" ng-required="true">
                        <small ng-show="editMeal.pickup.$error.minlength" class="help-block">Too short.</small>
                        <small ng-show="editMeal.pickup.$error.maxlength" class="help-block">Too long.</small>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : editMeal.price.$invalid && !editMeal.price.$pristine,'has-success' : editMeal.price.$valid }">
                        <label class="control-label" for="price">Price:</label>
                        <input name="price" class="form-control" value="{{meal.price}}" ng-model="meal.price" ng-minlength="2" ng-maxlength="25" ng-required="true">
                        <small ng-show="editMeal.price.$error.minlength" class="help-block">Price is too short.</small>
                        <small ng-show="editMeal.price.$error.maxlength" class="help-block">Price is too long.</small>
                    </div>
                    <button type="submit" class="btn btn-default center-block" ng-click="showEditForm=false" ng-disabled="editMeal.$invalid">Edit Meal</button>
                </form>

            </div>
        </div>

    </div>

</div>
