<div class="container-fluid">
  <br>
  <div class="row">

    <div class="col-md-4">
      <img ng-class="image" class="rest-image" ng-src="{{restaurant.image}}">
    </div>

    <div class="col-md-6">
      <h2>Welcome, {{restaurant.name}}</h2>
      <span>Check your meals, who's bought them, edit your meals, other stuff on your dashboard</span>
    </div>

    <div class="col-md-2">
      <address>
        <strong>{{restaurant.name}}</strong><br>
        {{restaurant.address}}<br>
        {{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}<br>
        <abbr title="Phone">P:</abbr> {{restaurant.phone}}
      </address>
    </div>

  </div>

    <div class="row">
        <div ng-repeat="meal in view.mealsArray" class="col-xs-12 col-md-8 panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-body">
                        <h2>{{meal.mealName}}</h2>
                        <h3>{{meal.price}}</h3>
                        <h3><strong>{{meal.name}}</strong></h3>
                        <p>{{meal.details}}</p>
                    </div>
                    <div class="media-right">
                        <img ng-class="image" class="meal-image" ng-src="{{meal.image}}">
                    </div>
                    <div class="pull-left text-center"><strong>Pick-up:</strong> {{meal.pickup}} | <small>  {{meal.dietary}}</small></div>
                </div>
            </div>
        </div>

  </div>


</div>
