<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Credit Card Information</h4>
            </div>
            <div class="modal-body">

              <form name="stripeForm" ng-submit="submitCard($event)" id="payment-form">
                    <span class="payment-errors"></span>

                    <div class="form-row">
                        <label>
                            <span>Card Number</span>
                            <input type="text" size="20" ng-model="stripeForm.number" data-stripe="number">
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Expiration (MM/YY)</span>
                            <input type="text" size="2" ng-model="stripeForm.exp_month" data-stripe="exp_month">
                        </label>
                        <span> / </span>
                        <input type="text" size="2" ng-model="stripeForm.exp_year" data-stripe="exp_year">
                    </div>

                    <div class="form-row">
                        <label>
                            <span>CVC</span>
                            <input type="text" size="4" ng-model="stripeForm.cvc" data-stripe="cvc">
                        </label>
                    </div>

                    <button type="submit" class="btn btn-default center-block submit">Submit</button>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default center-block" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
